/*  ------------------------------------------------------------------------  */
/*  QGroupBox  */

QGroupBox {{
  text-transform: none;
}}

/*  ------------------------------------------------------------------------  */
/*  QPushButton  */

QPushButton {{
  text-transform: none;
  padding: 1px;
}}

QPushButton:hover {{
  background-color: rgba(230, 230, 230, 100);
}}

/*  ------------------------------------------------------------------------  */
/*  QTabBar  */

QTabBar::tab:hover {{
  background-color: rgba(230, 230, 230, 100);
}}

QTabBar::tab:top{{
  padding: 0px 1px 0px 16px;
  height: 80px;
}}

QTabBar::tab:bottom{{
  padding: 0px 1px 0px 12px;
  height: 60px;
}}


/*  ------------------------------------------------------------------------  */
/*  QToolButton  */

QToolButton {{
  margin: 1px;
  padding: 1px;
}}


