/*  ------------------------------------------------------------------------  */
/*  QComboBox  */

QComboBox {{
  color: rgba(34, 62, 94, 200);
  background-color: rgba(230, 230, 230, 100);
}}

QComboBox:hover {{
  color: rgba(34, 62, 94, 250);
  background-color: rgba(230, 230, 230, 200);
}}

/*  ------------------------------------------------------------------------  */
/*  QGroupBox  */

QGroupBox {{
  text-transform: none;
}}

/*  ------------------------------------------------------------------------  */
/*  QPushButton  */

QPushButton {{
  text-transform: none;
  padding: 1px;
  border: 1px solid rgba(34, 62, 94, 100);
}}

QPushButton:hover {{
  background-color: rgba(230, 230, 230, 100);
}}

/*  ------------------------------------------------------------------------  */
/*  QTabBar  */

QTabBar::tab:!selected {{
  background-color: rgba(230, 230, 230, 80);
}}

QTabBar::tab:hover {{
  background-color: rgba(230, 230, 230, 160);
}}

QTabBar::tab:disabled {{
  background-color: rgba(230, 230, 230, 220);
}}

QTabBar::tab:top{{
  padding: 0px 1px 0px 16px;
  height: 80px;
}}

QTabBar::tab:bottom{{
  padding: 0px 1px 0px 12px;
  height: 60px;
}}


/*  ------------------------------------------------------------------------  */
/*  QToolButton  */

QToolButton {{
  margin: 1px;
  padding: 1px;
}}


